@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans';
}
html {
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: 'PT Sans';
}
input,
select,
textarea {
  font-size: 100%;
}
a,
button,
.btn {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.display-Type {
  display: none;
}
@media (max-width: 1100px) {
  .app-Box {
    display: none;
  }
  .display-Type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgb(235, 233, 224);
    height: 100vh;
  }
  .display-Type h1 {
    width: 75%;
    margin: 0 12.5%;
    /* background: khaki; */
    text-align: center;
    line-height: 45px;
  }
}
